/* Video Area ---------------------------------- */
.video-bg-shape {
    position: absolute;
    inset: 0;
    background-size: auto;
    background-position: right;
    z-index: 1;
    right: 0;
    left: auto;
}
.video-area-2{
   &.react{
      position: relative;
      z-index: 1;
      &::before{
         opacity:0.8;
         background-color: var(--black-color3);
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         right: 0;
         bottom: 0;
         z-index: -1;
      }
   }
} 
.video-content-wrap2 {
    padding: 256px 0;
    @include lg {
        text-align: center;
        padding: 40px 0 0;
        .call-info {
            display: inline-flex;
            text-align: start;
        }
    }
}
.anim{
   animation: spin 10s infinite alternate-reverse;
}
.video-wrap2 {
    .discount-wrapp {
        display: inline-block;
        .discount-tag  {
            z-index: -1;
        }
        .discount-tag span {
            // --rotate-letter: 7.5deg;
        }
    }
    @include lg {
        margin-top: 120px;
    }
}
.video-img-box2 {
    position: absolute;
    bottom: 0;
    top: 37px;
    @include lg {
        position: relative;
        text-align: center;
    }
}